* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background-color: #00F5FF;
	font-size: 16px;
}
header {
	display: flex;
	align-items: center;
	margin: 2em;
}
h1 {
	color: #333333;
}
h1 span {
	display: block;
	line-height: 0.9em;
	font-size: .5em;
	font-weight: 200;
	letter-spacing: .4em;
	text-align: right;
	color: #FFF;
	background: #333;
	padding: .5em .2em;
	border-radius: .2em;
	box-shadow: .15em .15em .2em #666;
}
nav {
	margin-left: auto;
}
nav ul, ol {
	list-style:none;
}
.menu {
	display: flex;
	width: 100%;
}
.menu ul li {
	flex: 1 1 auto;
}
.menu li > a {
	border-right: 1px dashed #666git sta;
	background-color: #333;
	color: #fff;
	display: block;
	margin-top: .09em;
	padding: 1rem 1.5rem;
	text-decoration: none;
	transition: all .4s ease-in-out;
	font-size: 1.09em;
}
.menu > li:not(:last-child) > a {
	border-right: 1px dashed #666;
	box-shadow: 1px 0 1px #333 inset;
}
.menu li a:hover {
	background-color:#434343;
	color: #00F5FF;
}
.menu li ul  {
	display: none;  /* ocultamos TODOS los elementos <ul> que estén dentro de un <li> */
}



/*

º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º
º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º
º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º/º


.menu ul li {
	flex: 1 1 auto;
}
.menu li > a {
	background-color: #333;
	color: #fff;
	display: block;
	margin-top: .09em;
	padding: 1rem 1.5rem;
	text-decoration: none;
	transition: all .25s ease-in-out;
}

.menu li a:hover {
	background-color:#434343;
	color: #00F5FF;
}

.menu li ul {
	display:none;
	position:absolute;
	/*min-width:160px;
	font-size: .9em;
}

.menu li:hover > ul {
	display:flex;
	right: 0em;
	left: 0em;
	top: 100%;
}

.menu ul ul {
	/*flex: 1 1 auto;
	/*position:relative;
	display: flex;
	top: 100%;
}

.menu li li li {
	flex: 1 1 auto;
	top:100%;
	right: 0%;
	left: 0%;
	position: absolute;
}
*/